    <form>
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-5 columns">
              <input type="hidden" name="rememberme" value="true" />
              <input type="text" name="email" value="test@test.com" placeholder="Your Email">
            </div>
            <div class="small-5 columns">
              <input type="password" name="password" value="h47h47" placeholder="Your Password">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix loginBtn">Login</a>
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">&nbsp;</div>
            <div class="small-2 columns end">
              <a href="{{srvurl 'auth/google'}}" class="button tiny expand loginGoogleBtn">Login with Google</a>
            </div>
            <div class="small-2 columns end">
              <a href="{{url 'home#register'}}" class="button tiny expand">Register</a>
            </div>
          </div>
        </div>
      </div>
      <p class="error"></p>
    </form>
