    <form>
      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <div class="small-5 columns">
              <input type="text" name="email" placeholder="Your Email">
            </div>
            <div class="small-5 columns">
              <input type="password" name="password" placeholder="Your Password">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix loginBtn">Login</a>
            </div>
          </div>
          <div class="row">
            <div class="small-5 columns">&nbsp;</div>
            <div class="small-2 columns end">
              <a href="{{url 'home#register'}}" class="button tiny expand">Register</a>
            </div>
          </div>
        </div>
      </div>
      <p class="error"></p>
    </form>
