    <form>
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="small-6 columns">
              <input type="text" name="email" placeholder="Your Email">
            </div>
            <div class="small-6 columns">
              <input type="text" name="name" placeholder="Your Name">
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns">
              <input type="password" name="password" placeholder="Your Password">
            </div>
            <div class="small-6 columns">
              <input type="password" name="password_repeat" placeholder="Repeat Password">
            </div>
          </div>
          <div class="row">
            <div class="small-4 columns">&nbsp;</div>
            <div class="small-4 columns end">
              <a href="#" class="button expand registerBtn">Register</a>
            </div>
          </div>
        </div>
      </div>
      <p class="error"></p>
    </form>
